<p-confirmDialog
  #cd
  [closable]="false"
  [draggable]="false"
  [style]="{ width: '400px' }"
>
  <ng-template pTemplate="message" let-message>
    <div class="flex items-start w-full gap-5 py-4">
      <div class="flex-1">
        <p class="text-gray-600 text-[15px] leading-relaxed">
          {{ message.message }}
        </p>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <div
      class="flex items-center justify-end gap-3 w-full px-6 bg-white rounded-b-3xl"
    >
      <button
        (click)="cd.onReject()"
        class="px-6 py-2.5 bg-transparent text-gray-500 font-bold rounded-xl hover:bg-gray-50 hover:text-gray-900 transition-all cursor-pointer outline-none"
      >
        {{ cd.rejectLabel }}
      </button>
      <button
        (click)="cd.onAccept()"
        class="px-6 py-2.5 bg-gray-900 text-white font-bold rounded-xl hover:bg-black transition-all shadow-lg shadow-gray-200 cursor-pointer outline-none focus:ring-2 focus:ring-gray-900"
      >
        {{ cd.acceptLabel }}
      </button>
    </div>
  </ng-template>
</p-confirmDialog>
