<div
  class="flex items-center justify-center md:justify-between h-14 bg-white border-b border-gray-200 px-6"
>
  <span class="text-sm text-gray-500 font-medium tracking-tight hidden lg:block"
    >Press the spacebar to generate color palettes!</span
  >

  <!-- Right Section -->
  <div class="flex items-center justify-center md:justify-end gap-1">
    @for (section of sections; track section.id; let lastSection = $last) {
      <div class="flex items-center gap-0.5">
        @for (action of section.actions; track action.tooltip) {
          <p-button
            [icon]="getIcon(action)"
            [label]="action.label"
            [text]="true"
            severity="secondary"
            [pTooltip]="action.tooltip"
            tooltipPosition="bottom"
            [disabled]="action.disabled ? action.disabled() : false"
            (onClick)="action.action ? action.action() : null"
            [styleClass]="getStyleClass(action)"
          ></p-button>
        }
      </div>

      @if (!lastSection) {
        <div class="w-px h-6 bg-gray-200 mx-1"></div>
      }
    }
  </div>
</div>
