@reference "tailwindcss";

:host ::ng-deep {
  .save-dialog {
    .p-dialog-header {
      padding-bottom: 0.5rem !important;

      .p-dialog-title {
        font-size: 1.25rem !important;
        font-weight: 700 !important;
        color: #111827 !important; /* gray-900 */
      }
    }

    .p-dialog-content {
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
      padding-bottom: 1.5rem !important;
    }

    .p-inputtext,
    .p-textarea {
      transition: all 0.2s ease !important;
    }

    .p-button {
      box-shadow: none !important;

      &:hover {
        box-shadow:
          0 10px 15px -3px #e0e7ff,
          0 4px 6px -4px #e0e7ff !important; /* shadow-lg shadow-indigo-100 */
      }
    }
  }
}
