@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import 'primeicons/primeicons.css';
@import 'tailwindcss';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'Outfit', sans-serif;
}

/* PrimeNG Tooltip Customization */
.p-tooltip {
  .p-tooltip-text {
    background: #000000 !important;
    color: #ffffff !important;
    font-size: 0.7rem !important;
    padding: 0.4rem 0.6rem !important;
    border-radius: 4px !important;
    font-weight: 500;
  }

  &.p-tooltip-bottom .p-tooltip-arrow {
    border-bottom-color: #000000 !important;
  }
  &.p-tooltip-top .p-tooltip-arrow {
    border-top-color: #000000 !important;
  }
  &.p-tooltip-left .p-tooltip-arrow {
    border-left-color: #000000 !important;
  }
  &.p-tooltip-right .p-tooltip-arrow {
    border-right-color: #000000 !important;
  }
}

/* PrimeNG Toast Customization */
.p-toast {
  width: auto !important;
  max-width: 90vw;

  .p-toast-message {
    background: #000000 !important;
    color: #ffffff !important;
    border: none !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3) !important;
    border-radius: 6px !important;
    margin-bottom: 1rem !important;

    .p-toast-message-content {
      padding: 0.3rem 0.6rem !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      gap: 0.5rem;

      .p-toast-message-icon,
      .p-toast-message-close-button {
        display: none !important;
      }

      .p-toast-message-text {
        margin: 0 !important;
        display: flex !important;
        flex-direction: row !important;
        align-items: center !important;
        gap: 0.5rem;

        .p-toast-summary {
          font-weight: 400 !important;
          font-size: 0.75rem !important;
        }

        .p-toast-detail {
          display: none !important;
        }
      }
    }
  }
}

@keyframes bounce-short {
  0%,
  100% {
    transform: translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-short {
  animation: bounce-short 1s infinite;
}
